/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

.deals {
  column-count: 3;
  column-gap: 40px;
  column-rule-style: solid;
  column-rule-width: 1px;
  margin-top: 10px;
  /*column-rule-color: lightblue;*/
}



.details {
  column-count: 3;
  column-gap: 40px;
  column-rule-style: solid;
  column-rule-width: 1px;
  margin-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
}
.featured {
  display: flex;
  column-count: 2;
  column-gap: 40px;
  column-rule-style: solid;
  
}
.shadow1 {
  width: 80%;
}